@import "src/assets/styles/typography";
@import "src/assets/styles/variable";
@import "src/assets/styles/layout";

.content {
  display: flex;
}

.imageWrapper {
  width: 100%;
  height: 218px;
  margin-bottom: 60px;
  overflow: hidden;

  @include breakpoint(mobileOnly) {
    margin-bottom: 14px;
  }

  @include breakpoint(tabletOnly) {
    margin-bottom: 19px;
  }
}

.image {
  width: 100%;
}

.description {
  @include p;

  height: 218px;
  color: $third-gray;

  @include breakpoint(mobileOnly) {
    @include p;

    font-size: 14px;
    line-height: 17px;
    height: 81px;
  }

  @include breakpoint(tabletOnly) {
    @include p;

    font-size: 16px;
    line-height: 19px;
    height: 81px;
  }
}

.title {
  @include h2;

  color: $color-dark;
  margin-bottom: 22px;

  @include breakpoint(mobileOnly) {
    @include h4;

    margin-bottom: 0;
  }

  @include breakpoint(tabletOnly) {
    @include h4;
  }
}

.item {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
