@import "src/assets/styles/typography";
<<<<<<< HEAD
@import "src/assets/styles/layout";
=======
>>>>>>> 946ee56 (Fixed git comments added color variable)
@import "src/assets/styles/variable";

.content {
  display: flex;
}

.imageWrapper {
  width: 100%;
  height: 218px;
  margin-bottom: 60px;
  overflow: hidden;

  @include breakpoint(tabletOnly) {
    margin-bottom: 19px;
  }
}

.image {
  width: 100%;
}

.description {
  @include h4;

  height: 218px;
  color: $third-gray;
<<<<<<< HEAD

  @include breakpoint(tabletOnly) {
    @include h7;

    height: 81px;
  }
=======
>>>>>>> 946ee56 (Fixed git comments added color variable)
}

.title {
  @include h2;

  color: $dark;
  margin-bottom: 22px;

  @include breakpoint(tabletOnly) {
    @include h5;
  }
}

.item {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}