@import "src/assets/styles/typography";

.content {
  display: flex;
}

.imageWrapper {
  width: 100%;
  height: 218px;
  margin-bottom: 60px;
  overflow: hidden;
}

.image {
  width: 100%;
}

.description {
  @include h4;

  height: 218px;
  color: #707070;
}

.title {
  @include h2;

  color: #191919;
  margin-bottom: 22px;
}

.item {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}