@import "src/assets/styles/typography";

.ul {
  @include breakpoint(mobileOnly) {
    display: block;
    flex-direction: column;
  }

  @include breakpoint(tabletOnly) {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 64px);
    margin-left: 64px;
  }

  @include breakpoint(desktop) {
  display: flex;
  justify-content: space-between;

  }

  .menuItem {
    @include h3;

    text-transform: uppercase;

    @include breakpoint(tabletOnly) {

      @include h6;

    }
  }


}
