@import "src/assets/styles/variable";
@import "src/assets/styles/typography";
@import "src/assets/styles/layout";

.title {
  @include h1;

  padding-top: 63px;
  padding-bottom: 95px;
  color: $color-blue;
}

.moreNewsWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 114px;
}