@import "src/assets/styles/variable";
@import "src/assets/styles/layout";

.menuButton {
  background-color: $color-light;
  border: none;
  cursor: pointer;
  position: absolute;
  right: $container-mobile-margin;
  top: 19px;

  @include breakpoint(tabletOnly){
    right: $container-tablet-margin;
  }
}

.menuClosed {
  padding: 0;
}
