@import "src/assets/styles/layout";
@import "src/assets/styles/variable";

.logo {
  width: 100%;
  background-color: $primary-gray;
  height: 103px;

  @include breakpoint(mobileOnly) {
    height: 31px;
  }

  @include breakpoint(tabletOnly) {
    height: 60px;
  }
}

.logoSmall {
  width: 100%;
  background-color: $primary-gray;
  height: 103px;

  @include breakpoint(mobileOnly) {
    height: 31px;
    width: 100%;
    margin-top: 10px;
  }

  @include breakpoint(tabletOnly) {
    height: 60px;
  }
}
