@import "src/assets/styles/variable";

.menuButton {
  background-color: $color-light;
  border: none;
  cursor: pointer;
  position: absolute;
  right: $mr-1;
  top: 19px;
}

.menuClosed {
  padding: 0;
}
