@import "src/assets/styles/layout";
@import "src/assets/styles/variable";

.header {

  @include breakpoint(mobileOnly) {
    height: 50px;
    align-items: center;

    .menuMobileWrapper {
      display: flex;
      justify-content: flex-end;
    }
  }

  @include breakpoint(tabletOnly) {
    margin-top: 40px;
    display: flex;
    align-items: flex-end;
  }

  @include breakpoint(desktop) {
    display: flex;
    align-items: flex-end;
    margin-top: 100px;
    margin-bottom: 141px;
  }
}

.divider {
  box-shadow: 0 3px 2px -2px $secondary-gray;
  position: absolute;
  right: 0;
  left: 0;
  box-sizing: border-box;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.menuOpen {
  padding-left: 11px !important;
  padding-right: 2px !important;
}
