@import "src/assets/styles/layout";
@import "src/assets/styles/variable";

.header {
  @include breakpoint(mobileOnly) {
    height: 50px;
    margin-bottom: 33px;
  }

  @include breakpoint(tabletOnly) {
    height: 72px;
    margin-bottom: 112px;
  }

  @include breakpoint(desktop) {
    margin-top: 100px;
    margin-bottom: 144px;
  }
}
