@import "src/assets/styles/typography";
@import "src/assets/styles/variable";
@import "src/assets/styles/layout";

.title {
  @include h1;

  text-transform: uppercase;
  color: $primary-gray;
  position: relative;

  @include breakpoint(mobileOnly) {
    @include h2;

    font-size: 24px;
    line-height: 33px;

    &::after {
      @include container-mobile;

      right: - $mr-2 !important;
    }
  }

  @include breakpoint(tabletOnly) {
    @include h2;

    font-size: 24px;
    line-height: 33px;
    padding-bottom: 8px;

    &::after {
      right: - $mr-2 !important;
    }
  }

  &::after {
    background-color: $secondary-gray;
    content: '';
    height: 3px;
    position: absolute;
    right: 0;
    width: 3000px;
    bottom: 0;
  }
}
