@import "src/assets/styles/typography";

.title {
  @include h1;

  color: #5C5C5C;
  position: relative;
  padding-bottom: 20px;

  &::after {
    background-color: #00ADC4;
    content: '';
    height: 3px;
    position: absolute;
    right: 0;
    width: 3000px;
    bottom: 0;
  }
}

