@import "src/assets/styles/typography";
@import "src/assets/styles/layout";
@import "src/assets/styles/variable";

.section {
  h3 {
    &::after {
      background-color: $color-blue;
    }
  }
}

.wrapper {
  margin-bottom: 24px;
  margin-top: 38px;

  @include breakpoint(mobileOnly) {
    margin-bottom: 27px;
    margin-top: 0;

    &:first-child {
      margin-top: 39px;

    }
  }

  @include breakpoint(tabletOnly) {
    margin-bottom: 16px;
    margin-top: 39px;
  }
}

