@import "src/assets/styles/typography";
@import "src/assets/styles/variable";
@import "src/assets/styles/layout";

.section {
  margin-bottom: 50px;

  h3 {
    &::after {
      background-color: $blue;
    }
  }
}

.moreNews {
  @include h3;

  color: $dark;
}

.moreNewsWrapper {
  margin-top: 41px;
  margin-bottom: 141px;

  @include breakpoint(tabletOnly) {
    display: flex;
    justify-content: center;
    margin-bottom: 54px;
    margin-top: 0;
  }
}

.wrapper {
  margin-bottom: 20px;
  margin-top: 38px;
}

