@import "src/assets/styles/typography";

.section {
  margin-bottom: 50px;
}

.moreNews {
  @include h3;

  color: #191919;
}

.moreNewsWrapper {
  margin-top: 41px;
  margin-bottom: 141px;
}

.wrapper {
  margin-bottom: 20px;
  margin-top: 38px;
}

