@mixin noto-font{
  font-family: Noto, serif;
  font-style: normal;
  font-stretch: normal;
}

@mixin roboto-font{
  font-family: Roboto, serif;
  font-style: normal;
  font-stretch: normal;
}

// Noto Sarif Normal

@font-face {
  @include noto-font;

   src: url("assets/fonts/Noto_Serif/NotoSerif-Regular.ttf") format("truetype");
   font-weight: normal;
 }

@font-face {
  @include noto-font;

  src: url("assets/fonts/Noto_Serif/NotoSerif-Regular.otf") format("truetype");
  font-weight: normal;
}

@font-face {
  @include noto-font;

  src: url("assets/fonts/Noto_Serif/NotoSerif-Regular.woff") format("truetype");
  font-weight: normal;
}

@font-face {
  @include noto-font;

  src: url("assets/fonts/Noto_Serif/NotoSerif-Regular.woff2") format("truetype");
  font-weight: normal;
}

@font-face {
  @include noto-font;

  src: url("assets/fonts/Noto_Serif/NotoSerif-Regular.eot") format("truetype");
  font-weight: normal;
}

// Noto Sarif Bold

 @font-face {
   @include noto-font;

   src: url("assets/fonts/Noto_Serif/NotoSerif-Bold.ttf") format("truetype");
   font-weight: bold;
 }

@font-face {
  @include noto-font;

  src: url("assets/fonts/Noto_Serif/NotoSerif-Bold.otf") format("truetype");
  font-weight: bold;
}

@font-face {
  @include noto-font;

  src: url("assets/fonts/Noto_Serif/NotoSerif-Bold.woff") format("truetype");
  font-weight: bold;
}

@font-face {
  @include noto-font;

  src: url("assets/fonts/Noto_Serif/NotoSerif-Bold.woff2") format("truetype");
  font-weight: bold;
}

@font-face {
  @include noto-font;

  src: url("assets/fonts/Noto_Serif/NotoSerif-Bold.eot") format("truetype");
  font-weight: bold;
}

// Roboto Normal

@font-face {
  @include roboto-font;

  src: url("assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  @include roboto-font;

  src: url("assets/fonts/Roboto/Roboto-Regular.eot") format("truetype");
  font-weight: normal;
}

@font-face {
  @include roboto-font;

  src: url("assets/fonts/Roboto/Roboto-Regular.otf") format("truetype");
  font-weight: normal;
}

@font-face {
  @include roboto-font;

  src: url("assets/fonts/Roboto/Roboto-Regular.woff") format("truetype");
  font-weight: normal;
}

@font-face {
  @include roboto-font;

  src: url("assets/fonts/Roboto/Roboto-Regular.woff2") format("truetype");
  font-weight: normal;
}

// Roboto Bold

 @font-face {
   @include roboto-font;

   src: url("assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
   font-weight: bold;
 }

@font-face {
  @include roboto-font;

  src: url("assets/fonts/Roboto/Roboto-Bold.eot") format("truetype");
  font-weight: bold;
}

@font-face {
  @include roboto-font;

  src: url("assets/fonts/Roboto/Roboto-Bold.otf") format("truetype");
  font-weight: bold;
}

@font-face {
  @include roboto-font;

  src: url("assets/fonts/Roboto/Roboto-Bold.woff") format("truetype");
  font-weight: bold;
}

@font-face {
  @include roboto-font;

  src: url("assets/fonts/Roboto/Roboto-Bold.woff2") format("truetype");
  font-weight: bold;
}


