@mixin noto-font{
  font-family: 'Noto';
  font-style: normal;
  font-stretch: normal;
}

@mixin roboto-font{
  font-family: 'Roboto';
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  @include noto-font;
   src: url("assets/fonts/Noto_Serif/NotoSerif-Regular.ttf") format("truetype");
   font-weight: normal;
 }

 @font-face {
   @include noto-font;
   src: url("assets/fonts/Noto_Serif/NotoSerif-Regular.ttf") format("truetype");
   font-weight: bold;
 }

 @font-face {
@include roboto-font;
    src: url("assets/fonts/Roboto/Roboto-Black.ttf") format("truetype");
    font-weight: normal;

 }

 @font-face {
   @include roboto-font;
   src: url("assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
   font-weight: bold;
 }


