@import "layout";

@mixin noto-font {
  font-family: 'Noto Serif', serif;
  font-style: normal;
  font-stretch: normal;
}

@mixin roboto-font {
  font-family: 'Roboto', serif;
  font-style: normal;
  font-stretch: normal;
}

@mixin Heading1 {
  @include noto-font;
  font-size: 40px;

  @include breakpoint(tabletOnly) {
    font-size: 10px;
  }
}
