$light: #fff;
$secondary-gray: #4E4E4E;
$primary-gray: #5C5C5C;
$third-gray: #707070;
$dark: #191919;
$blue:#00ADC4;
$purple: #8800C4;
<<<<<<< HEAD
$label-bg: rgba(52, 52, 52, .43);
=======
>>>>>>> 946ee56 (Fixed git comments added color variable)

