// Colors
$color-light: #fff;
$secondary-gray: #4E4E4E;
$primary-gray: #5C5C5C;
$third-gray: #707070;
$color-dark: #191919;
$color-blue:#00ADC4;
$color-purple: #8800C4;
$color-dark-gray-opacity: rgba(52, 52, 52, .43);
$color-light-gray: #F8F8F8;
$color-dark-gray: #414141;

// Margins
$mr-1: 9%;
$mr-2: 12%;
$mb-0: 0;
$mb-6: 6px;
$mb-19: 19px;
$mb-27: 27px;
$mt-8: 8px;
$mt-27: 27px;
$mt-29: 29px;
$mt-35: 35px;
$mt-39: 39px;
$r-0: 0;
$b-0: 0;
