@import "src/assets/styles/typography";
@import "src/assets/styles/variable";
@import "src/assets/styles/layout";

.content {
  position: relative;
  margin-bottom: $mb-27;

  @include breakpoint(tabletOnly) {
    margin-bottom: $mb-19;
  }

  @include breakpoint(mobileOnly) {
    margin-bottom: $mb-0;
  }
}

.titleWrapper {
  background-color: $color-dark-gray-opacity;
  padding: 14px 0;
  position: absolute;
  bottom: 34px;
  width: 65%;
}


.title {
  @include h5;

  font-size: 16px;
  line-height: 22px;
  color: $color-light;
  padding-left: 23px;
}

.imageWrapper {
  width: 100%;
  height: 332px;
  margin-top: $mt-8;
  overflow: hidden;
}

.img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

