@import "src/assets/styles/variable";
@import "src/assets/styles/layout";

.wrapper {
  margin-top: 30px;
  @include breakpoint(mobileOnly) {
    margin-top: 43px;
  }
  @include breakpoint(tabletOnly) {
    margin-top: 35px;
  }
}

.section {
  h3 {
    &::after {
      background-color: $color-purple;
    }
  }
}
