@import "src/assets/styles/variable";
@import "src/assets/styles/layout";

.wrapper {
  margin-top: $mt-29;

  @include breakpoint(mobileOnly) {
    margin-top: $mt-27;

    &:first-child {
      margin-top: $mt-39;
    }
  }
  @include breakpoint(tabletOnly) {
    margin-top: $mt-35;
  }
}

.section {
  h3 {
    &::after {
      background-color: $color-purple;
    }
  }
}
